@font-face {
  font-family: 'NanumHarABeoJiEuiNaNum';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHarABeoJiEuiNaNum/NanumHarABeoJiEuiNaNum.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHarABeoJiEuiNaNum/NanumHarABeoJiEuiNaNum.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHarABeoJiEuiNaNum/NanumHarABeoJiEuiNaNum.ttf') format('truetype');
}